.card img{
    height: 250px !important;
}
.card-body{
    background-color: var(--golden);
    color: var(--white);
    transition: 0.5s;
}

.card-body h5{
    font-weight: 900;
    font-size: 24px;
}
.card:hover .card-body{
    background-color: var(--black);
    color: var(--white);
}